.loader_title {
  font-size: 24px;
  font-weight: 800;
}

.loading_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.loader_dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  background-color: black;
  margin-left: 2rem;
}
