* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav_title {
  font-size: 24px;
}

.navbar {
  box-shadow: 0px -1px 5px 1px rgba(151, 151, 151, 0.482);
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 81px;
}

.theme_btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  gap: 12px;
  font-size: 16px;
}
