.search_bar {
  height: 56px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: #9797977b 0px 7px 29px 0px;
  padding-left: 60px;
  display: flex;
}

.search_container {
  position: relative;
}

.icon_container {
  position: absolute;
  top: 47%;
  left: 32px;
  transform: translate(-50%, -50%);
}
