/* Country Details */

.main_container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  min-height: 401px;
}

.details_wrapper {
  max-width: 574px;
}

.countryDetails ul {
  list-style: none;
  font-size: 16px;
  line-height: 32px;
}

.countryDetails {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.padding_control {
  padding: 0px;
}

/* Typogography */

.country_title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 32px;
}

.countryDetails ul li strong {
  font-weight: 600;
}

.countryDetails ul li {
  font-weight: 300;
}

.borders_container p strong {
  font-weight: 600;
}

/* Back button */

.back_btn {
  margin-bottom: 80px;
  height: 40px;
  border: none;
  background-color: #fff;
  width: 132px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

/* Country Image */

.img_wrapper {
  border-radius: 0.5rem;
  max-width: 560px;
  margin: 0;
}

/* country borders */

.borders_container {
  display: flex;
  gap: 15px;
}

.border_btn {
  min-width: 96px;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  height: 28px;
}

.border_btns {
  display: grid;
  grid-template-columns: 96px 96px 96px 96px;
  grid-gap: 10px;
}

@media (max-width: 1300px) {
  .main_container {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 401px;
    max-width: 580px;
    row-gap: 44px;
    margin: 0 auto;
    margin-bottom: 57px;
  }
}

@media (max-width: 630px) {
  .countryDetails {
    flex-direction: column;
    gap: 55px;
    margin-bottom: 34px;
  }

  .borders_container {
    flex-direction: column;
    gap: 16px;
  }

  .border_btns {
    display: grid;
    grid-template-columns: 96px 96px 96px;
    grid-gap: 10px;
  }

  .padding_control {
    padding: 0px 16px;
  }
}
