.search_container {
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: 480px 200px;
  justify-content: space-between;
}

.country_grid {
  display: grid;
  grid-template-columns: 264px 264px 264px 264px;
  justify-content: space-between;
  grid-row-gap: 75px;
}

@media (max-width: 1220px) {
  .country_grid {
    grid-template-columns: 264px 264px 264px;
    justify-content: space-between;
  }
}

@media (max-width: 960px) {
  .country_grid {
    grid-template-columns: 264px 264px 264px;
    justify-content: space-between;
  }

  .search_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }
}

@media (max-width: 900px) {
  .country_grid {
    grid-template-columns: 264px 264px;
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .country_grid {
    grid-template-columns: 264px;
    justify-content: space-evenly;
  }
}
